<div class="container" ng-controller="UsuarioController">
    <form>
        <p>
            <div class="row">
                <img data-ng-src="{{ usuario.avatar_url }}.jpeg" width="100" height="100" alt="..." class="img-circle">
            </div>
        </p>
        <div class="row mbottom">
            <div class="col-xs-3 text-right">
                ID:
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="usuario.id" class="form-control" readonly>
            </div>
        </div>
        <div class="row mbottom">
            <div class="col-xs-3 text-right">
                Login:
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="usuario.login" class="form-control" readonly>
            </div>
        </div>
        <div class="row mbottom">
            <div class="col-xs-3 text-right">
                Data:
            </div>
            <div class="col-xs-3">
                {{ usuario.created_at | date : format : shortDate}}
            </div>
        </div>

        <div class="row mbottom">
            <button type="button"
                    class="btn btn-success"
                    ng-click="carregaRepositoriosUsuario(usuario.name)">
                Repositorios
            </button>
        </div>
        <div class="row">
            <a href="/Listar">Voltar a Listagem</a>
        </div>
    </form>
    <p>
        <div class="container" ng-show="ExibeAviso">
            <div class="row">
                Repositorio que exige autenticação
            </div>
        </div>
        <div class="container" ng-show="ExibeRepositorios">
            <div class="row">
                <div class="col-xs-9">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="90">Id Repositorio</th>
                                <th>Nome do repositorio</th>
                                <th>URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="repositorio in RepositoriosUsuario">
                                <td>{{ repositorio.id }}</td>
                                <td>{{ usuario.name }}</td>
                                <td>{{ usuario.url }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </p>

</div>